# ---- Python ---------------------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
notebooks/.venv/
backend/.venv/
backend/app
.env

# ----  Données CSV ---------------------------------------
clean/*.csv
dataset/

# ---- Jupyter Notebooks ---------------------------------------
.ipynb_checkpoints/

# ---- Node / Nuxt ---------------------------------------------
frontend/.nuxt/
frontend/.output/
frontend/node_modules/
frontend/.env*
node_modules/
package.json/
package-lock.json/
# pnpm
pnpm-lock.yaml

# ---- Logs -----------------------------------------------------
*.log

# ---- OS / IDE -------------------------------------------------
.DS_Store
.idea/
.vscode/