[flake8]
max-line-length = 88
extend-ignore =
    E203,  # whitespace before ':' (géré par black)
    W503,  # line break before binary operator (géré par black)
    E302,  # trop de/l’absence de blank-lines (black le fait mieux)
exclude =
    .venv/,
    __pycache__/,
    migrations/,
    tests/data/